<section class="module">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="shop-single-item-photos">
                  <%= link_to image_tag(@items.image_url), "/items/"+@items.id.to_s, class: "shop-single-item-popup" %>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="shop-single-item">
                    <h2 class="shop-single-item-title"><%= @items.title %></h2>
                    <div class="shop-single-item-rating"><span class="star-rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></span><a href="#">(2 customer reviews)</a></div>
                    <h2 class="shop-single-item-price">$<%= @items.price %></h2>
                    <div class="shop-single-item-description">
                        <p><%= @items.description %></p>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input class="form-control" type="number" value="1">
                        </div>
                        <div class="form-group col-md-6">
                            <select class="form-control">
                                <option selected="selected">Choose Size</option>
                                <option>EU 35</option>
                                <option disabled>EU 36</option>
                                <option>EU 35</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6"><a class="btn btn-block btn-dark" href="#">Add to cart</a></div>
                    </div>
                    <hr class="m-t-30 m-b-30">
                    <div class="info-list">
                        <li><span class="info-list-title">Category:</span><span><a href="#">Interior</a></span></li>
                        <li><span class="info-list-title">Tags:</span><span><a href="#">Chair</a>, <a href="#">Interior</a></span></li>
                    </div>
                    <hr class="m-t-30 m-b-30">
                    <div class="info-list">
                        <li><span class="info-list-title">Share:</span><span>
                                <ul class="social-icons">
                                    <li><a href="#"><i class="ti-twitter"></i></a></li>
                                    <li><a href="#"><i class="ti-instagram"></i></a></li>
                                    <li><a href="#"><i class="ti-pinterest"></i></a></li>
                                </ul></span></li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
