<section class="module no-gutter p-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs justify-content-center">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#shop-description">
                            <h6>Description</h6></a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#shop-info">
                            <h6>Additional information</h6></a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#shop-comment">
                            <h6>Reviews (2)</h6></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="shop-tab-content tab-content">
                    <div class="tab-pane fade show active" id="shop-description">
                        <p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam delectus, Marfa eiusmod Pinterest in do umami readymade swag. Selfies iPhone Kickstarter, drinking vinegar jean shorts fixie consequat flexitarian four loko.</p>
                        <p>Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Seitan High Life reprehenderit consectetur cupidatat kogi about me. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth art party deep v chillwave. Seitan High Life reprehenderit consectetur cupidatat kogi.</p>
                    </div>
                    <div class="tab-pane fade" id="shop-info">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Title</th>
                                    <th>Info</th>
                                </tr>
                                <tr>
                                    <td>Compositions</td>
                                    <td>Paper</td>
                                </tr>
                                <tr>
                                    <td>Size</td>
                                    <td>15, 20</td>
                                </tr>
                                <tr>
                                    <td>Brand</td>
                                    <td>Carlito&Co</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="shop-comment">
                        <!-- Comments area-->
                        <div class="comments-area-shop">
                            <div class="comment-list-shop">
                                <!-- Comment-->
                                <div class="comment-shop">
                                    <div class="comment-author-shop"><img class="avatar" src="assets/images/avatar/1.jpg" alt=""></div>
                                    <div class="comment-body-shop">
                                        <div class="comment-meta-shop">
                                            <div class="comment-meta-author-shop"><a href="#">Jason Ford</a></div>
                                            <div class="comment-meta-date-shop"><a href="#">May 5, 2015 at 4:51 am</a></div>
                                        </div>
                                        <div class="comment-content-shop">
                                            <p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam delectus, Marfa eiusmod Pinterest in do umami readymade swag. Selfies iPhone Kickstarter, drinking vinegar jean shorts fixie consequat flexitarian four loko.</p>
                                            <p><span class="star-rating star-rating-4"></span></p>
                                        </div>
                                        <div class="comment-reply-shop"><a href="#">Reply</a></div>
                                    </div>
                                    <!-- Subcomment-->
                                    <div class="children">
                                        <div class="comment-shop">
                                            <div class="comment-author-shop"><img class="avatar" src="assets/images/avatar/2.jpg" alt=""></div>
                                            <div class="comment-body-shop">
                                                <div class="comment-meta-shop">
                                                    <div class="comment-meta-author-shop"><a href="#">Manager</a></div>
                                                    <div class="comment-meta-date-shop"><a href="#">May 5, 2015 at 4:51 am</a></div>
                                                </div>
                                                <div class="comment-content-shop">
                                                    <p>Sound Good!</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Subcomment-->
                                    <div class="children">
                                        <div class="comment-shop">
                                            <div class="comment-author-shop"><img class="avatar" src="assets/images/avatar/4.jpg" alt=""></div>
                                            <div class="comment-body-shop">
                                                <div class="comment-meta-shop">
                                                    <div class="comment-meta-author-shop"><a href="#">Manager</a></div>
                                                    <div class="comment-meta-date-shop"><a href="#">May 5, 2015 at 4:51 am</a></div>
                                                </div>
                                                <div class="comment-content-shop">
                                                    <p>Thank you!</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Comment-->
                                <div class="comment-shop">
                                    <div class="comment-author-shop"><img class="avatar" src="assets/images/avatar/3.jpg" alt=""></div>
                                    <div class="comment-body-shop">
                                        <div class="comment-meta-shop">
                                            <div class="comment-meta-author-shop"><a href="#">Henry Cain</a></div>
                                            <div class="comment-meta-date-shop"><a href="#">May 5, 2015 at 4:51 am</a></div>
                                        </div>
                                        <div class="comment-content-shop">
                                            <p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam delectus, Marfa eiusmod Pinterest in do umami readymade swag. Selfies iPhone Kickstarter, drinking vinegar jean shorts fixie consequat flexitarian four loko.</p>
                                            <p><span class="star-rating star-rating-4"></span></p>
                                        </div>
                                        <div class="comment-reply-shop"><a href="#">Reply</a></div>
                                    </div>
                                    <!-- Subcomment-->
                                    <div class="children">
                                        <div class="comment-shop">
                                            <div class="comment-author-shop"><img class="avatar" src="assets/images/avatar/2.jpg" alt=""></div>
                                            <div class="comment-body-shop">
                                                <div class="comment-meta-shop">
                                                    <div class="comment-meta-author-shop"><a href="#">Manager</a></div>
                                                    <div class="comment-meta-date-shop"><a href="#">May 5, 2015 at 4:51 am</a></div>
                                                </div>
                                                <div class="comment-content-shop">
                                                    <p>Thank you!</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-respond">
                                <h5 class="comment-reply-title">Add Review</h5>
                                <p class="comment-notes">Your email address will not be published. Required fields are marked</p>
                                <form class="comment-form row">
                                    <div class="form-group col-md-4">
                                        <input class="form-control" type="text" placeholder="Name">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <input class="form-control" type="text" placeholder="Email">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <select class="form-control">
                                            <option selected="selected">Your Rating</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <textarea class="form-control" rows="8" placeholder="Comment"></textarea>
                                    </div>
                                    <div class="form-submit col-md-12">
                                        <button class="btn btn-dark" type="submit">Post Comment</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Comments area end-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
