<section class="module-cover parallax" id="cat-background" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 id='style-title'>Meowww</h2>
                <h6 id='style-title'>More pictures of cats than your grandma' can handle</h6>

                <!-- <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                </ol> -->
            </div>
        </div>
    </div>
</section>
