
<section class="module">
    <div class="container">
        <div class="row">
            <% @items.each do |item| %>
            <div class="col-md-4">
                <div class="shop-grid-item">
                    <div class="shop-item-thumb"><%= link_to image_tag(item.image_url), "/item/"+item.id.to_s %>
                          <div class="shop-item-hidden"><%= link_to 'Add to cart', cart_items_path(:item_id => item.id), class: "btn btn-new-white", method: :post %></div>
                    </div>
                    <div class="shop-item-captions">
                        <h6 class="shop-item-title"><%= item.title %></h6>
                    </div>
                </div>
            </div>
            <% end %>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="space" data-MY="40px"></div>
            </div>
        </div>
    </div>
</section>
