<!-- Preloader-->
<%= render 'shared/preloader' %>
<!-- Preloader end-->

<!-- Header-->
<%= render 'shared/header' %>
<!-- Header end-->

<!-- Wrapper-->
<div class="wrapper">
    <!-- Page Header-->
    <% render 'shared/cart/cart_header' %>
    <!-- Page Header end-->

    <!-- Shop cart-->
    <%= render 'shared/cart/cart_content' %>
    <!-- Shop cart end-->

    <!-- Footer-->
    <%= render 'shared/footer' %>
    <!-- Footer end-->
</div>
<!-- Wrapper end-->

<!-- To top button--><a class="scroll-top" href="#top"><i class="fas fa-angle-up"></i></a>
