
#global-background {
  background-image: image-url('module-5.jpg');
}

#cat-background {
  background-image: image-url('cat-banner.jpg');
  opacity: 0.95;

}

#style-title {
  color:#262626  ;
  font-weight: bold;
}
